.login-page {
  background-color: black;
  color: white;
  max-width: 1400px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login-container-wrap {
  flex: 1;
  align-content: center;
}

.login-container {
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
  margin: 0 auto;
}

.login-title-p {
  font-size: 24px;
}

.login-title-h1 {
  font-size: 64px;
}

.login-left-container {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.login-content-container {
  display: flex;
  justify-content: end;
}

.login-content {
  border: 1px solid #333333;
  border-radius: 20px;
  background-color: #191919;
  width: 40%;

  padding: 5%;

  display: flex;
  flex-direction: column;
}

.login-input {
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: #191919;
  height: 40px;
  margin-bottom: 2%;
  padding-left: 3%;
  color: #ffffff;
}

.login-button {
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  height: 40px;
  margin-top: 1%;
  cursor: pointer;
}

.login-kakao-text {
  display: flex;
  flex-basis: center;
  align-items: center;
  color: #81838b;
  font-size: 11px;
  margin: 8px 0px;
  margin-top: 10%;
}

.login-kakao-text::before {
  content: '';
  flex-grow: 1;
  margin-right: 5%;
  background: #81838b;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.login-kakao-text::after {
  content: '';
  flex-grow: 1;
  margin-left: 5%;
  background: #81838b;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.kakao-login-container {
  width: 100%;
  cursor: pointer;
}

.kakaoLogin-image {
  width: 100%;
  height: 100%;
}

.login-right-container {
  width: 35%;
  bottom: 0;
}
